footer 
	footer.footer
	.container
		.footer__row
		.footer__row-logo
			a(href='#')
				img(src='./images/DREAMSHAREred.svg', alt='Dreamshare Logo')
		.footer__row__company
			h5.footer__row__company-title Company
			ul.footer__row__company__list
				li.footer__row__company__list-item
				a.footer__row__company__list-item-link(href='#') About
				li.footer__row__company__list-item
				a.footer__row__company__list-item-link(href='#') Contact
				li.footer__row__company__list-item
				a.footer__row__company__list-item-link(href='#') Press
				li.footer__row__company__list-item
				a.footer__row__company__list-item-link(href='#') Blog
				li.footer__row__company__list-item
				a.footer__row__company__list-item-link(href='#') Terms and Privacy
				li.footer__row__company__list-item
				a.footer__row__company__list-item-link(href='#') Help
		.footer__row__partners
			h5.footer__row__partners-title Partners
		.footer__row__design
			h5.footer__row__design-title Designed by
			.footer__row__design-logo
				a(href='#')
				img(src='./images/ARETO-Logo.png', alt='ARETO-Logo')
