header 
	header.main
	.container
		.main__menu
		.main__menu__logo
			a(href='#')
				img.main__menu__logo-img(src='./images/DREAMSHAREwhite.svg', alt='Dreamshare Logo')
		.main__menu__subscribe
			button.main__menu__subscribe-logIn(type='button') Log in
			button.main__menu__subscribe-signUp(type='button') Sign up
	h1.main-title SHARE YOUR HOLIDAY DREAM
	p.main-subtitle And find the perfect partner to fullfill it
	.main-btn
		button.main-btn-button(type='button') Find your holiday partner